doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Onkur Sen
    meta(name='author', content='Onkur Sen')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(href='/css/bootstrap.min.css', rel='stylesheet')

  body
    block main

  script(src="/js/jquery-1.11.0.min.js")
  script(src="/js/bootstrap.min.js")